# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://your-project.supabase.co
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key

# JWT
JWT_SECRET=ca7488b41f394092f0ecb84c700c5b11bf3b0a83138793bba67430774fc39667

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
